TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN_OAUTH1=
TWITTER_ACCESS_TOKEN_OAUTH1_SECRET=
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
TWITTER_REDIRECT_URI=
TWITTER_ACCESS_TOKEN=
TWITTER_REFRESH_TOKEN=

CDP_API_KEY_NAME=
CDP_API_KEY_PRIVATE_KEY=
NETWORK_ID=base-sepolia

PINATA_API_KEY=
PINATA_SECRET_API_KEY=
HUGGINGFACEHUB_API_TOKEN=
OPENAI_API_KEY=
REPLICATE_API_TOKEN=
IMAGE_GENERATION_PROVIDER=replicate